In [15]:
import pandas as pd 
df1=pd.DataFrame({'a':[1,2,3],   'b':[4,5,6]})
df2=pd.DataFrame({'a':[7,8,9],   'b':[10,11,12]})
df3=pd.DataFrame({'a':[13,14,15],'b':[16,17,18]})
panel =pd.Series([df1,df2,df3])
print(panel)

0               a  b
0  1  4
1  2  5
2  3  6
1           a   b
0  7  10
1  8  11
2  9  12
2        a   b
0  13  16
1  14  17
2  15  18
dtype: object

In [2]:
import numpy as np
import pandas as pd
data=[['jhon','doe',30],['sri','sai',25]]
df=pd.DataFrame(data,columns=['name','surname','age'])
print(df)

   name surname  age
0  jhon     doe   30
1   sri     sai   25

In [8]:
import numpy as np
array=np.array([1,2,3,4])
print(array[0])

1

In [9]:
import numpy as np
array=np.array([1,2,3,4])
print(array+1)

[2 3 4 5]

In [9]:
import pandas as pd
numbers=[1,2,3,4,5]
series=pd.Series(numbers)
print(series.head())
print(series.tail())

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64